/*

██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗
██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝
██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║
 ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

Waybar Config File by Henrique

*/

@import url("./theme.css");

* {
    font-family: "Monaspace Radon Var";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    color: @text;
    background-color: transparent;
}

#workspaces,
#workspaces button,
#workspaces button.active,
#workspaces button:hover {
    border-radius: 5px;
}

#workspaces {
    margin: 5px 0 5px 1rem;
    background-color: @surface0;
}

#workspaces button {
    padding: 0.5rem;
    color: @text;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button:hover {
    color: @lavender;
    border-color: @surface0;
}

#workspaces button.urgent {
    color: @red;
}

#clock,
#pulseaudio,
#backlight,
#battery,
#custom-lock,
#custom-wifi,
#cpu,
#memory,
#custom-pomodoro,
#custom-power {
    margin: 5px 0;
    padding: 0.5rem 1rem;
    background-color: @surface0;
}

#clock {
    color: @mauve;
    border-radius: 5px;
}

#battery,
#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#pulseaudio {
    margin-left: 1rem;
    color: @maroon;
    border-radius: 5px 0px 0px 5px;
}

#backlight {
    color: @yellow;
}

#custom-wifi {
    color: @blue;
}

#cpu {
    color: @green;
}

#memory {
    color: @lavender;
}

#custom-pomodoro {
    color: @maroon;
}

#custom-power {
    margin-right: 1rem;
    color: @maroon;
    border-radius: 0px 5px 5px 0px;
}
