/*

██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗
██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝
██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║
 ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

Waybar Config File by Henrique

*/

@import url("./theme.css");

* {
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    color: @text;
    background-color: transparent;
}

#workspaces,
#workspaces button,
#workspaces button.active,
#workspaces button:hover {
    border-radius: 10px;
}

#workspaces {
    margin: 5px 0 5px 1rem;
    background-color: @base;
}

#workspaces button {
    padding: 0.5rem;
    color: @text;
}

#workspaces button.active {
    color: @foam;
}

#workspaces button:hover {
    color: @rose; /* Antigo Lavender */
    border-color: @base;
}

#workspaces button.urgent {
    color: @love; /* Antigo Red */
}

#clock,
#pulseaudio,
#backlight,
#battery,
#custom-lock,
#custom-wifi,
#cpu,
#memory,
#custom-pomodoro,
#custom-power {
    margin: 5px 0;
    padding: 0.5rem 1rem;
    background-color: @base;
}

#clock {
    color: @iris; /* Antigo Mauve */
    border-radius: 10px;
}

#battery,
#battery.charging {
    color: @foam; /* Antigo Green */
}

#battery.warning:not(.charging) {
    color: @love; /* Antigo Red */
}

#pulseaudio {
    margin-left: 1rem;
    color: @rose; /* Antigo Maroon */
    border-radius: 10px 0px 0px 10px;
}

#backlight {
    color: @gold; /* Antigo Yellow */
}

#custom-wifi {
    color: @pine; /* Antigo Blue */
}

#cpu {
    color: @foam; /* Antigo Green */
}

#memory {
    color: @rose; /* Antigo Lavender */
}

#custom-pomodoro {
    color: @love; /* Antigo Maroon */
}

#custom-power {
    margin-right: 1rem;
    color: @love; /* Antigo Maroon */
    border-radius: 0px 10px 10px 0px;
}
