/* ==================================================== */
/* PALETA HOUSTON (Mapeada para Waybar/GTK/etc.)        */
/* ==================================================== */

/* Cores de Acento (Tokens) - TONS HOUSTON */
@define-color rosewater     #dc3657; /* Vermelho (Erro) - Acento */
@define-color flamingo      #f4587e; /* Vermelho Claro - Acento */
@define-color pink          #acafff; /* Roxo Claro (Tipos) - Acento */
@define-color mauve         #cc75f4; /* Magenta Brilhante - Acento */
@define-color red           #dc3657; /* Vermelho (Erro) */
@define-color maroon        #f4587e; /* Vermelho Claro */
@define-color peach         #ffd493; /* Amarelo (Strings/Aviso) - Acento */
@define-color yellow        #ffd493; /* Amarelo (Strings/Aviso) */
@define-color green         #4bf3c8; /* Verde (Variáveis/Props) */
@define-color teal          #00daef; /* Ciano (Funções) - Acento */
@define-color sky           #54b9ff; /* Azul (Keywords/Tags) - Acento */
@define-color sapphire      #54b9ff; /* Azul (Keywords/Tags) */
@define-color blue          #54b9ff; /* Azul (Keywords/Tags) */
@define-color lavender      #acafff; /* Roxo Claro (Tipos/Atributos) */

/* Cores de Foreground (FG) - TONS HOUSTON */
@define-color text          #eef0f9; /* Primeiro Plano (FG) */
@define-color subtext1      #858b98; /* Texto Muted / Dim */
@define-color subtext0      #858b98; /* Texto Muted / Dim */

/* Cores de Fundo (BG) - TONS HOUSTON */
@define-color overlay2      #343841; /* Seleção / Interação (Opção para superfície) */
@define-color overlay1      #23262d; /* Fundo Secundário / Painéis */
@define-color overlay0      #23262d; /* Fundo Secundário / Painéis */
@define-color surface2      #343841; /* Seleção / Interação (Opção para superfície) */
@define-color surface1      #23262d; /* Fundo Secundário / Painéis */
@define-color surface0      #23262d; /* Fundo Secundário / Painéis */
@define-color base          #17191e; /* Fundo Principal (BG) */
@define-color mantle        #17191e; /* Fundo Principal (BG) */
@define-color crust         #545864; /* Cinza Brilhante (Opção para fundo mais profundo) */
