@define-color rosewater  #ebbcba;
@define-color flamingo   #eb6f92;
@define-color pink       #c4a7e7;
@define-color mauve      #c4a7e7;
@define-color red        #eb6f92;
@define-color maroon     #eb6f92;
@define-color peach      #f6c177;
@define-color yellow     #f6c177;
@define-color green      #31748f;
@define-color teal       #9ccfd8;
@define-color sky        #9ccfd8;
@define-color sapphire   #9ccfd8;
@define-color blue       #9ccfd8;
@define-color lavender   #c4a7e7;
@define-color text       #e0def4;
@define-color subtext1   #908caa;
@define-color subtext0   #6e6a86;
@define-color overlay2   #26233a;
@define-color overlay1   #1f1d2e;
@define-color overlay0   #191724;
@define-color surface2   #26233a;
@define-color surface1   #1f1d2e;
@define-color surface0   #191724;
@define-color base       #191724;
@define-color mantle     #1f1d2e;
@define-color crust      #191724;