window {
    padding: 50px;
    background-color: #0b0c0e;
    font-family: "Monaspace Radon Var", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    color: #e8e8ef;
    background-color: #0b0c0e;
    border: none;
    border-radius: 5px;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry:selected {
    background-color: #34d8ff;
    border-radius: 5px;
}

#text {
    color: #e8e8ef;
}

#text:selected {
    color: #0b0c0e;
}
