/*
* Wofi Config - Tokyo Night Moon Variant
*/

window {
  padding: 50px;
  background-color: #222436;
  /* @base - Azul profundo */
  font-family: "FiraCode Nerd Font", sans-serif;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #2d3f76;
  /* @overlay - Borda sutil em azul escuro */
  border-radius: 20px;
}

#input {
  margin: 20px 15px;
  padding: 10px 20px;
  color: #c8d3f5;
  /* @text - Texto principal claro */
  background-color: #2f334d;
  /* @surface - Fundo do input levemente mais escuro */
  border: 1px solid #2f334d;
  /* @highlightMed - Bordas internas */
  border-radius: 10px;
}

#input:focus {
  box-shadow: none;
  border: 1px solid #82aaff;
  /* @foam/blue - Destaque de foco em azul brilhante */
}

#inner-box {
  margin: 0 15px;
}

#img {
  margin: 10px;
}

#entry:selected {
  background-color: #82aaff;
  /* @foam/blue - Cor de seleção azul */
  border-radius: 10px;
}

#text {
  color: #c8d3f5;
  /* @text */
}

#text:selected {
  color: #1e2030;
  /* @base - Contraste escuro sobre o fundo azul da seleção */
}