window {
    padding: 50px;
    background-color: #242226;
    font-family: "Monaspace Radon Var", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    /* RK_FG_MAIN: Texto Principal (Alto Contraste) */
    color: #f8f5f2;
    /* RK_BG_MAIN: Fundo Padrão Principal (ideal para a caixa de input) */
    background-color: #242226;
    border: none;
    border-radius: 5px;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry:selected {
    /* RK_CYAN: Acentuação suave e vibrante para a entrada selecionada */
    background-color: #78dce8;
    border-radius: 5px;
}

#text {
    /* RK_FG_MAIN: Texto Principal */
    color: #f8f5f2;
}

#text:selected {
    /* RK_BG_DEEP: Para o texto selecionado, usamos o BG mais escuro para garantir bom contraste no fundo RK_CYAN */
    color: #1a181c;
}
