/*
* Wofi Config - Rosé Pine Variant
*/

window {
    padding: 50px;
    background-color: #191724; /* @base */
    font-family: "FiraCode Nerd Font", sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #26233a; /* @overlay para uma borda sutil */
    border-radius: 20px;
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    color: #e0def4; /* @text */
    background-color: #1f1d2e; /* @surface */
    border: 1px solid #403d52; /* @highlightMed */
    border-radius: 10px;
}

#input:focus {
    box-shadow: none;
    border: 1px solid #c4a7e7; /* @iris */
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry:selected {
    background-color: #c4a7e7; /* @iris */
    border-radius: 10px;
}

#text {
    color: #e0def4; /* @text */
}

#text:selected {
    color: #191724; /* @base - para dar contraste no item selecionado */
}
