window {
    padding: 50px;
    /* Fundo Principal (BG) */
    background-color: #17191e;
    font-family: "Monaspace Radon Var", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    /* Primeiro Plano (FG): Texto Principal (Alto Contraste) */
    color: #eef0f9;
    /* Fundo Principal (BG): Fundo Padrão Principal (ideal para a caixa de input) */
    background-color: #17191e;
    border: none;
    border-radius: 5px;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry:selected {
    /* Azul (Keywords / Tags): Acentuação suave e vibrante para a entrada selecionada */
    background-color: #54b9ff;
    border-radius: 5px;
}

#text {
    /* Primeiro Plano (FG): Texto Principal */
    color: #eef0f9;
}

#text:selected {
    /* Fundo Principal (BG): Para o texto selecionado, usamos o BG mais escuro para garantir bom contraste no fundo Azul */
    color: #17191e;
}
